<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Boska-Black.otf</string>
		<string>Boska-Bold.otf</string>
		<string>Boska-Medium.otf</string>
		<string>Boska-Regular.otf</string>
		<string>Poppins-Black.otf</string>
		<string>Poppins-Bold.otf</string>
		<string>Poppins-Medium.otf</string>
		<string>Poppins-Regular.otf</string>
	</array>
</dict>
</plist>
